@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

.btn-primary {
    background-image: linear-gradient(90deg, #4F39F6, #9514FA);
    color: #ffffff;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    border: none !important;
    box-shadow: none !important;
}